$global_width: 1264px;
$global_background_color: lightgray;
$black-025: hsl(210,8%,97.5%);
$black-200: hsl(210,8%,75%);
$powder-700: hsl(205,47%,42%);
$powder-100: hsl(205,46%,92%);
$powder-500: hsl(205,41%,63%);
$blue-500: hsl(206,100%,52%);
$white: hsl(0,0%,100%);